<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.geek.mapper.OrdersMapper">

    <sql id="orders">
        order_id,notes,total_price,status,payment_time,ship_time,deal_time,create_user_id,create_time,modify_user_id,modify_time
    </sql>

    <insert id="batchInsert">
        insert into orders
        (<include refid="orders"/>)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.orderId}, #{item.notes}, #{item.totalPrice}, #{item.status}, #{item.paymentTime},
            #{item.shipTime}, #{item.dealTime}, #{item.createUserId}, #{item.createTime}, #{item.modifyUserId},
            #{item.modifyTime})
        </foreach>
    </insert>

    <resultMap id="ordersMap" type="com.geek.domain.Orders">
        <id column="order_id" property="orderId"/>
        <result column="notes" property="notes"/>
        <result column="total_price" property="totalPrice"/>
        <result column="status" property="status"/>
        <result column="payment_time" property="paymentTime"/>
        <result column="ship_time" property="shipTime"/>
        <result column="deal_time" property="dealTime"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_user_id" property="modifyUserId"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <select id="query" resultMap="ordersMap">
        select * from orders
    </select>
</mapper>